*.o
*.d
*.a
*.pc
*.version
*.texi
*.3
*.pod
src/ffmpeg-5.0/doc/fate.txt
*.1
src/ffmpeg-5.0/doc/print_options
src/ffmpeg-5.0/ffbuild/bin2c
src/ffmpeg-5.0/ffmpeg
src/ffmpeg-5.0/ffmpeg_g
src/ffmpeg-5.0/ffplay
src/ffmpeg-5.0/ffplay_g
src/ffmpeg-5.0/ffprobe
src/ffmpeg-5.0/ffprobe_g
